@model ActualNews;

@{
    ViewData["Title"] = "DetailsPage";
}

    <div class="border p-3 mt-4">
        <div class="row mb-3">
            <label asp-for="Title">@Model.Title</label>
        </div>
        <div class="row mb-3">
            <label asp-for="Date">Opublikowano: </label>
            <label asp-for="Date">@Model.Date</label>
        </div>
        <div class="row mb-3">
            <label asp-for="Text">@Model.Text</label>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <a asp-controller="ActualNews" asp-action="UpsertPage" asp-route-id="@Model.Id" class="btn btn-info mx-2" style="width:100%">
                   <img src="/lib/bootstrap/icons/gear.svg" alt="Bootstrap" width="20" height="20">Edit</a>
            </div>
            <div class="col-6">
                <a asp-controller="ActualNews" asp-action="DeletePage" asp-route-id="@Model.Id" class="btn btn-danger mx-2" style="width:100%">
                   <img src="/lib/bootstrap/icons/trash.svg" alt="Bootstrap" width="20" height="20">Delete</a>
            </div>
       </div>
       <div class="row mb-3">
            <div class="col-12">
                <a asp-controller="ActualNews" asp-action="Index" class="btn btn-primary mx-2" style="width:100%">Take Me Back</a>
            </div>
       </div>
    </div>

<script>
    function auto_height(elem) {
        elem.style.height = "1px";
        elem.style.height = (elem.scrollHeight)+"px";
    }
</script>
                